$purple: #633CFF;
$purple-hover: #BEADFF;
$purple-light: #EFEBFF;
$dark-grey: #333333;
$grey: #737373;
$grey-normal: #D9D9D9;
$grey-light: #FAFAFA;
$white: #FFFFFF;
$red: #FF3939;

$purple-filter: invert(32%) sepia(93%) saturate(6173%) hue-rotate(249deg) brightness(101%) contrast(102%);
$grey-filter: invert(44%) sepia(0%) saturate(769%) hue-rotate(253deg) brightness(100%) contrast(81%);
$black-filter: nvert(16%) sepia(8%) saturate(6%) hue-rotate(337deg) brightness(94%) contrast(86%);